<%- include('includes/header.ejs') %>

<h1>Bienvenid@ a DoggyShop!</h1>

<main>
    <form action = '/login/' method = 'POST'> 
        <label for="name">Ingresa tu nombre: </label>
        <input type = 'text' name = 'name' required>
        <label for="contrase침a">Ingresa tu contrase침a: </label>
        <input type="text" name = 'contrase침a' required>
        <input type = 'submit' value = 'Iniciar sesi칩n'>
    </form>

</main>